// colors

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #222;
$color-grey: #666;
$color-grey-light: #ccc;
$color-purple: #634B66;
$color-purple-light: #A28F9D;
$color-mm-creamy-beige: #F8F5F5;

// typography

$font-primary: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
$font-secondary: 'Amatic SC', cursive;