<!DOCTYPE html>

	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="google-site-verification" content="u-fgzlQZJtbGNEFnUHHxS9ESe1yEGMA-ZckYydsmzpo" />
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
			<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
			<script src="https://use.fontawesome.com/5c0930290a.js"></script>
			<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans+Condensed:300,300i,700" rel="stylesheet">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		</head>
		<body>
			<!--
			<nav>
	    		<ul>
	        		<li><a href="/" class="it-me">ngan hoang</a></li>
	        		<li><a href="/work">work</a></li>
	        		<li><a href="/about">about</a></li>
	    		</ul>
			</nav>
		-->
			<div class="container">

			{{ content }}

			</div>
			<footer>
	    	<ul>
      		<li>
      			<a href="mailto:hello@ngansensical.design">
      				<i class="fa fa-envelope" aria-hidden="true"></i>
      			</a>
      		</li>
      		<li>
      			<a href="https://github.com/itsngansense">
      				<i class="fa fa-github" aria-hidden="true"></i>
      			</a>
      		</li>
      		<li>
      			<a href="https://twitter.com/itsngansense">
      				<i class="fa fa-twitter" aria-hidden="true"></i>
      			</a>
      		</li>
      		<li>
      			<a href="https://instagram.com/itsngansense">
      				<i class="fa fa-instagram" aria-hidden="true"></i>
      			</a>
      		</li>
					<li>
						<a href="https://dribbble.com/itsngansense">
							<i class="fa fa-dribbble" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
				<p class="copyright">Ngan Hoang &copy; 2017 to infinity and beyond</p>
			</footer>
		</body>
	</html>
