<!DOCTYPE html>

	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
			<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
			<script src="https://use.fontawesome.com/5c0930290a.js"></script>
			<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans+Condensed:300,300i,700" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="it-me">ngan hoang</a></li>
	        		<li><a href="/work">work</a></li>
	        		<li><a href="/about">about</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    	<ul>
      		<li>
      			<a href="mailto:knhoang13@gmail.com">
      				<i class="fa fa-envelope" aria-hidden="true"></i>
      			</a>
      		</li>
      		<li>
      			<a href="https://github.com/ngansense" target="_blank">
      				<i class="fa fa-github" aria-hidden="true"></i>
      			</a>
      		</li>
      		<li>
      			<a href="https://twitter.com/ngansenseee" target="_blank">
      				<i class="fa fa-twitter" aria-hidden="true"></i>
      			</a>
      		</li>
      		<li>
      			<a href="https://instagram.com/ngansenseeee" target="_blank">
      				<i class="fa fa-instagram" aria-hidden="true"></i>
      			</a>
      		</li>
				</ul>
				<p class="copyright">Ngan Hoang &copy; 2017 to infinity and beyond</p>
			</footer>
		</body>
	</html>